<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @reservation.date %>
</p>

<p>
  <b>User:</b>
  <%= @reservation.user_id %>
</p>

<p>
  <b>Space:</b>
  <%= @reservation.space_id %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
